@{
    ViewBag.Title = "Home Page";
}

<!--Summary controls-->
<div class="row">
    <div class="col-md-1">

    </div>
</div>

<!--Experience controls-->
<div class="row">
    <div class="col-md-1">

    </div>
</div>

<!--Educations controls-->
<div class="row">
    <div class="col-md-1">

    </div>
</div>

<!--Skills controls-->
<div class="row">
    <div class="col-md-1">

    </div>
</div>

<!--Award controls-->
<div class="row">
    <div class="col-md-1">

    </div>
</div>