@{
    ViewBag.Title = "Home Page";
}

<!--Summary controls-->
<div class="row">
    <div class="col-md-1">
        <a data-target="#SummaryModal" data-toggle="modal">
        <img src="~/Images/symmary.png" /></a>
        <p>Summary.doc</p>
        <!-- Modal -->
        <div class="modal fade" id="SummaryModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div >
                    <div>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>                        
                        <img src="~/Images/document%20head.png" />
                    </div>
                    <div class="summaryModal">
                        <p>Objective</p>
                        <p>Driven Professional with broad technical skilled set and experience 3D Artist with nearly 10 years of experience using 3D Applications. Obsessed with creative chalanges beckoning 3D solutions</p>
                        <p>Proficient in 3D Modeling, Texturing, Lighting and Rendering</p>
                        <p>Proficient in Motion Graphics, Animation and Webdesign</p>
                    </div>
                    <div>
                        <img src="~/Images/documentfooter.png" />
                        <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!--Experience controls-->
<div class="row">
    <div class="col-md-1">
        <a data-target="#ExperienceModal" data-toggle="modal">
        <img src="~/Images/Experience.png" /></a>      
        <p>Experience</p>
            <!-- Modal -->
            <div class="modal fade" id="ExperienceModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="folderModal">
                        <div>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <img src="~/Images/folder_head.png" />
                        </div>
                        <div>
                            <div class="row">
                                <div class="col-md-6 folderSideModal verticalLine">
                                    <!--<img src="~/Images/folder_side.png" />-->
                                </div>
                                <div class="col-md-6">
                                    Hello World!
                                </div>
                            </div>
                        </div>
                        <div>
                            <img src="~/Images/folder_footer.png" />
                            <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                        </div>
                    </div>

                </div>
            </div>
    </div>
</div>

<!--Educations controls-->
<div class="row">
    <div class="col-md-1">
        <a data-target="#EducationModal" data-toggle="modal">
            <img src="~/Images/Education.png" />
        </a>
        <p>Education</p>
        <!-- Modal -->
        <div class="modal fade" id="EducationModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Education</h4>
                    </div>
                    <div class="modal-body">
                        <p>Some text in the modal.</p>
                    </div>
                    <div class="modal-footer">
                        <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!--Skills controls-->
<div class="row">
    <div class="col-md-1">
        <a data-target="#SkillsModal" data-toggle="modal">
            <img src="~/Images/Skill.png" />
        </a>
        <p>Skills</p>
        <!-- Modal -->
        <div class="modal fade" id="SkillsModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Skills</h4>
                    </div>
                    <div class="modal-body">
                        <p>Some text in the modal.</p>
                    </div>
                    <div class="modal-footer">
                        <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!--Award controls-->
<div class="row">
    <div class="col-md-1">
        <a data-target="#AwardModal" data-toggle="modal">
            <img src="~/Images/Award.png" />
        </a>
        <p>Award</p>
        <!-- Modal -->
        <div class="modal fade" id="AwardModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Award</h4>
                    </div>
                    <div class="modal-body">
                        <p>Some text in the modal.</p>
                    </div>
                    <div class="modal-footer">
                        <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!--Modal-->




